
<table class="table">
  <thead>
  <tr>
    <th *ngFor="let column of columns">{{column.title}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of page?.data; let i = index" appTableRowSelect [tabindex]="i">
    <td *ngFor="let column of columns">
      <ng-container [ngSwitch]="column.type">
        <ng-container *ngSwitchCase="'default'">{{row[column.property]}}</ng-container>
        <ng-container *ngSwitchCase="'number'">{{row[column.property] | vat}}</ng-container>
        <ng-container *ngSwitchCase="'custom'">
          <ng-container *ngTemplateOutlet="column.customColumnTemplate; context: {$implicit: row}"></ng-container>
        </ng-container>
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>

<app-bbh-table-pagination
  [totalItems]="page?.total"
  (onSelectPage)="pageChange($event)">
</app-bbh-table-pagination>
