<app-bbh-table [dataSource]="dataSource">
  <app-bbh-table-column type="default" title="Id" property="id"></app-bbh-table-column>
  <app-bbh-table-column type="default" title="Title" property="title"></app-bbh-table-column>
  <app-bbh-table-column type="number" title="Price" property="price"></app-bbh-table-column>
  <app-bbh-table-column type="custom" title="Actions">
      <button *appBbhCustomColumn="let row" type="button" class="btn btn-primary sm">Edit {{row.id}}</button>
  </app-bbh-table-column>
</app-bbh-table>
